// variables

$max_container: 1100px;

$font_Merriweather: 'Merriweather', serif;

// header

.container {
    width: $max_container;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    height: 35px;
    background-color: #080808;
    z-index: 20;
    .nav {
        display: flex;
        justify-content: space-between;
        width: 1100px;
        height: 35px;
        .menu {
            display: flex;
            align-items: center;
            width: 470px;
            height: 35px;
            & li {
                position: relative;
            }
            &__list {
                display: flex;
            }
            &__list li {
                display: inline-block;
                margin-right: 61px;
            }
            &__list > li:hover .sub-menu__list {
                display: block;
            }
            &__list > li:hover .menu__link {
                color: #cecece;
                transition: color 0.3s;
            }
            .menu__list > li:nth-child(5) .arrow_down_categories {
                transition: 0.2s linear;
            }
            .menu__list > li:hover:nth-child(5) .arrow_down_categories {
                transform: rotate(180deg);
                transition: 0.2s linear;
            }
            &__list a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: 2px;
                font-family: 'Open Sans', sans-serif;
                transition: color 0.3s;
            }
            &__list a:hover {
                color: #cecece;
            }

            .menu__link {
                cursor: pointer;
                color: #ffffff;
                .arrow_down_categories {
                    position: absolute;
                    left: 100px;
                    bottom: -3px;
                    width: 20px;
                    height: 20px;
                }
            }

            .sub-menu__list {
                display: none;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                width: 158px;
                position: absolute;
                left: -30px;
                top: 15px;
                padding: 20px 0 0 0;
                background-color: black;
            }
            .sub-menu__list li {
                text-align: center;
                width: 158px;
            }
            .sub-menu__list a {
                display: block;
                padding: 12px;
            }
            .sub-menu__list a:hover {
                color: #080808;
                background-color: #ffffff;
            }
        }
        .header__widgets_and_search_button {
            display: flex;
            .header__widgets {
                display: flex;
                align-items: center;
                width: 168px;
                & li {
                    display: flex;
                    align-items: center;
                    margin: 0 10px;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            width: 14px;
                            height: 14px;
                            transition: fill 0.3s;
                        }
                        svg:hover {
                            fill: #cecece;
                        }
                    }
                }
            }
            .header__search_button {
                display: flex;
                align-items: center;
                width: 38px;
                height: 35px;
                cursor: pointer;
                &_img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 38px;
                    height: 25px;
                    border-left: 1px solid #6b6b6b;
                    border-right: 1px solid #6b6b6b;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}
