$font_Satisfy: 'Satisfy';
$font_Merriweather: 'Merriweather', serif;

.main {
    .articles_block {
        width: 1100px;
        height: 2310px;
        .row {
            display: flex;
            justify-content: space-between;
            .article_column_2 {
                width: 307px;
                height: 1613px;
                .search_form {
                    display: flex;
                    width: 305px;
                    height: 50px;
                    border: 1px solid black;
                    margin-bottom: 52px;
                    .search_line {
                        border: none;
                        width: 225px;
                        padding: 15px;
                    }

                    .search_button {
                        width: 50px;
                        height: 50px;
                        background-color: #080808;
                        cursor: pointer;
                        border: none;
                        img {
                            width: 17px;
                            height: 17px;
                        }
                    }
                    .search_button:hover {
                        background-color: #323232;
                        border: none;
                    }
                }
                .author_block {
                    width: 306px;
                    height: 487px;
                    background-color: #f7f7f7;
                    .author_img {
                        text-align: center;
                        padding-top: 50px;
                    }
                    .author_inf {
                        width: 306px;
                        height: 250px;
                        margin-top: 24px;
                        text-align: center;
                        .author_text {
                            margin-bottom: 21px;
                            .text_1 {
                                font-family: $font_Merriweather;
                                font-size: 20px;
                                color: #080808;
                                margin-bottom: 13px;
                            }
                            .text_2 {
                                color: #656565;
                                line-height: 24px;
                                font-family: 'Open Sans', sans-serif;
                            }
                        }
                        .author_socials {
                            display: flex;
                            justify-content: center;

                            li {
                                width: 20px;
                                height: 20px;
                                margin-right: 9px;
                                svg {
                                    width: 14px;
                                    height: 14px;
                                }
                                svg:hover {
                                    fill: #656565;
                                    transition: fill 0.3s;
                                }
                            }
                        }
                    }
                }
                .posts {
                    width: 306px;
                    height: 463px;
                    margin-top: 20px;
                    .posts_title {
                        margin-bottom: 32px;
                        p {
                            font-size: 20px;
                            color: #080808;
                            font-family: $font_Merriweather;
                        }
                    }
                    .post_items {
                        width: 306px;
                        height: 410px;
                        li {
                            display: flex;
                            margin-top: 10px;
                            img {
                                width: 95px;
                                height: 95px;
                            }
                            .posts_inf {
                                margin-left: 15px;
                                .post_name {
                                    margin-bottom: 5px;
                                    line-height: 26px;
                                    font-family: $font_Merriweather;
                                    font-size: 17px;
                                    color: #000;
                                }
                                .post_date {
                                    text-transform: uppercase;
                                    font-size: 13px;
                                    letter-spacing: 0.1em;
                                    color: #656565;
                                    font-family: 'Open Sans', sans-serif;
                                }
                            }
                        }
                    }
                }
                .categories_block {
                    width: 306px;
                    height: 150px;
                    margin-top: 30px;
                    .categories_title {
                        margin-bottom: 20px;
                        font-family: $font_Merriweather;
                        font-size: 20px;
                        color: #080808;
                    }
                    .categories_list {
                        width: 306px;
                        height: 196px;
                        li {
                            margin-top: 10px;
                            a {
                                text-decoration: none;
                                color: #656565;
                                font-size: 13px;
                                letter-spacing: 2px;
                                text-transform: uppercase;
                                font-family: 'Open Sans', sans-serif;
                            }
                            a:hover {
                                color: #080808;
                                transition: color 0.3s ease-in-out;
                            }
                        }
                    }
                }

                .tags_block {
                    width: 306px;
                    height: 105px;
                    .tags_title {
                        margin-bottom: 15px;
                        color: #080808;
                        font-size: 20px;
                        font-family: $font_Merriweather;
                    }
                    .tags_items {
                        a {
                            text-decoration: none;
                            color: #656565;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            line-height: 28px;
                            font-size: 13px;
                            font-family: 'Open Sans', sans-serif;
                        }
                        a:hover {
                            color: #080808;
                            transition: color 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}
