.logo {
    &__container {
    }

    &__img {
        text-align: center;
        img {
            width: 288px;
            height: 80px;
        }
    }

    @media (max-width: 480px) {
        &__img {
            img {
                width: 100%;
            }
        }
    }
}
