.logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 158px;
    padding-top: 30px;
    margin-bottom: 30px;
    .logo_img {
        width: 397px;
        height: 108px;
        img {
            width: 100%;
        }
    }
}
