$font_Merriweather: 'Merriweather', serif;

$font_Satisfy: 'Satisfy';

.about_img {
    width: 1100px;
    height: 465px;
}
.description_about_the_author {
    display: flex;
    justify-content: space-between;
    height: 394px;
    width: 1100px;
    margin-top: 70px;
    .first_column {
        width: 550px;
        height: 394px;
        .about_the_author {
            color: #080808;
            font-family: $font_Merriweather;
            font-size: 40px;
            font-weight: 400;
            letter-spacing: 0;
            padding-bottom: 20px;
        }
        .about_the_author_text_1 {
            color: #656565;
            font-size: 20px;
            font-weight: 400;
            line-height: 29px;
            padding-bottom: 20px;
        }
        .about_the_author_text_2 {
            color: #656565;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            padding-bottom: 20px;
        }
        .about_the_author_text_3 {
            color: #656565;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            padding-bottom: 20px;
        }
    }
    .second_column {
        width: 517px;
        height: 424px;
        .formal_education {
            color: #080808;
            font-family: $font_Merriweather;
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 40px;
        }
        .universities {
            display: flex;
            margin-bottom: 30px;
            &_text_1 {
                color: #080808;
                font-family: $font_Merriweather;
                font-size: 17px;
                font-weight: 400;
                margin-right: 50px;
            }
            &_text_2 {
                color: #080808;
                font-family: $font_Merriweather;
                font-size: 17px;
                font-weight: 400;
            }
        }
        .formal_education_block {
            display: flex;
            margin-bottom: 45px;
            .formal_education_text_1 {
                color: #656565;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
            }
            .formal_education_text_2 {
                color: #656565;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
            }
        }
        .awards_and_recognitions_text {
            color: #080808;
            font-family: $font_Merriweather;
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 25px;
        }
        .awards_and_recognitions {
            display: flex;
            &_first_column {
                width: 259px;
                height: 124px;
                line-height: 24px;
                color: #656565;
                font-size: 16px;
                font-weight: 400;
            }
            &_second_column {
                width: 259px;
                height: 124px;
                line-height: 24px;
                color: #656565;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}
