$max_container: 1100px;

$font_Merriweather: 'Merriweather', serif;

$font_Satisfy: 'Satisfy';

.slick-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;

    .slick-dots {
        bottom: 22px;
    }
    .slick-dots li.slick-active button:before {
        color: white;
        opacity: 1;
        font-size: 10px;
    }
    .slick-dots li button:before {
        color: white;
        opacity: 1;
    }
    .slick-prev:before,
    .slick-next:before {
        display: none;
    }
    .slick-prev,
    .slick-next {
        width: 50px;
        height: 50px;
        z-index: 5;
    }
    .slick-prev,
    .slick-prev:hover,
    .slick-prev:focus {
        left: 10px;
        background: url('/assets/arrow_left.svg');
    }
    .slick-next,
    .slick-next:hover,
    .slick-next:focus {
        right: 10px;
        background: url('/assets/arrow_right.svg');
    }

    .slider_bg_1 {
        position: relative;
        height: 550px;
        background: url('/assets/slider-img-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .slider_items {
            margin-top: 94px;
            margin-left: 81px;
            width: 468px;
            height: 300px;
            background-color: white;
            padding-top: 50px;
            padding-left: 50px;
            line-height: 57px;
            & p:nth-child(1) {
                color: #656565;
                text-transform: uppercase;
                font-size: 14px;
            }
            & p:nth-child(2) {
                color: #080808;
                font-size: 50px;
                font-family: $font_Merriweather;
            }
            .slider_buttons {
                display: flex;
                .slider_button_1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 160px;
                    height: 50px;
                    background-color: #080808;
                    margin-left: 4px;
                    margin-top: 20px;
                    cursor: pointer;
                    p {
                        text-transform: uppercase;
                        color: white;
                        font-size: 13px;
                        text-align: center;
                    }
                    &:hover {
                        background-color: #323232;
                    }
                }
                .slider_button_2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 160px;
                    height: 50px;
                    border: 1px solid black;
                    margin-top: 19px;
                    margin-left: 20px;
                    cursor: pointer;
                    p {
                        color: #080808;
                        text-align: center;
                        font-size: 13px;
                    }
                    &:hover {
                        background-color: #080808;
                        p {
                            color: white;
                        }
                    }
                }
            }
        }
        .slider_img {
            position: absolute;
            top: 24px;
            right: 103px;
        }
    }
    .slider_bg_2 {
        height: 550px;
        background: url('/assets/slider-img-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .slider_items {
            position: absolute;
            top: 94px;
            left: 81px;
            width: 468px;
            height: 300px;
            background-color: white;
            padding-top: 50px;
            padding-left: 50px;
            line-height: 57px;
            & p:nth-child(1) {
                color: #656565;
                text-transform: uppercase;
                font-size: 14px;
            }
            & p:nth-child(2) {
                color: #080808;
                font-size: 50px;
                font-family: $font_Merriweather;
            }
            .slider_buttons {
                display: flex;
                .slider_button_1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 160px;
                    height: 50px;
                    background-color: #080808;
                    margin-left: 4px;
                    margin-top: 20px;
                    cursor: pointer;
                    p {
                        text-transform: uppercase;
                        color: white;
                        font-size: 13px;
                        text-align: center;
                    }
                    &:hover {
                        background-color: #323232;
                    }
                }
                .slider_button_2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 160px;
                    height: 50px;
                    border: 1px solid black;
                    margin-top: 19px;
                    margin-left: 20px;
                    cursor: pointer;
                    p {
                        color: #080808;
                        text-align: center;
                        font-size: 13px;
                    }
                    &:hover {
                        background-color: #080808;
                        p {
                            color: white;
                        }
                    }
                }
            }
        }
        .slider_img {
            position: absolute;
            top: 24px;
            right: 103px;
        }
    }
    .slider_bg_3 {
        height: 550px;
        background: url('/assets/slider-img-3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .slider_items {
            position: absolute;
            top: 94px;
            left: 81px;
            width: 468px;
            height: 300px;
            background-color: white;
            padding-top: 50px;
            padding-left: 50px;
            line-height: 57px;
            & p:nth-child(1) {
                color: #656565;
                text-transform: uppercase;
                font-size: 14px;
            }
            & p:nth-child(2) {
                color: #080808;
                font-size: 50px;
                font-family: $font_Merriweather;
            }
            .slider_buttons {
                display: flex;
                .slider_button_1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 160px;
                    height: 50px;
                    background-color: #080808;
                    margin-left: 4px;
                    margin-top: 20px;
                    cursor: pointer;
                    p {
                        text-transform: uppercase;
                        color: white;
                        font-size: 13px;
                        text-align: center;
                    }
                    &:hover {
                        background-color: #323232;
                    }
                }
                .slider_button_2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 160px;
                    height: 50px;
                    border: 1px solid black;
                    margin-top: 19px;
                    margin-left: 20px;
                    cursor: pointer;
                    p {
                        color: #080808;
                        text-align: center;
                        font-size: 13px;
                    }
                    &:hover {
                        background-color: #080808;
                        p {
                            color: white;
                        }
                    }
                }
            }
        }
        .slider_img {
            position: absolute;
            top: 24px;
            right: 103px;
        }
    }
}
