.column-first {
    &__articles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__blog {
        width: 50%;
        padding: 0 10px;
        margin: 0 0 61px 0;
    }

    @media (max-width: 600px) {
        &__blog {
            width: 100%;
        }
    }

    @media (max-width: 600px) {
        &__blog {
            padding: 0;
        }
    }

    &__img {
        overflow: hidden;
        img {
            width: 100%;
            transition: transform 0.25s;
        }
    }
    &__img:hover img {
        transform: scale(1.1);
    }

    &__body {
    }

    &__title {
        font-size: 27px;
        font-family: 'Merriweather';
        line-height: 37px;
        margin: 15px 0 0 0;
        a {
            color: #080808;
        }
    }

    &__textArticles {
        margin: 10px 0 26px;
        color: #656565;
        font-size: 16px;
        line-height: 24px;
    }

    &__date {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 13px;
        color: #656565;
    }

    &__newsletter {
    }

    &__books {
        width: 100%;
        margin: 0 0 140px 0;
    }

    @media (max-width: 1000px) {
        &__books {
            margin: 0;
        }
    }
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 118px;
    background: url('/assets/newsletter_img.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 40px 0 100px 0;

    @media (max-width: 767px) {
        height: 200px;
    }

    &__body {
        display: flex;
        border: 1px solid #fff;
        align-items: center;
        justify-content: center;
        width: 99%;
        height: 93%;
        padding: 25px;
    }

    @media (max-width: 767px) {
        &__body {
            width: 98%;
            flex-wrap: wrap;
        }
    }

    @media (max-width: 480px) {
        &__body {
            width: 97%;
        }
    }

    &__text {
        margin: 0 30px 0 0;
        color: #fff;
        font-family: 'Satisfy';
        font-size: 36px;
    }

    @media (max-width: 480px) {
        &__text {
            margin: 0;
            font-size: 30px;
        }
    }

    &__form {
        display: flex;
        width: 52%;
        height: 52px;
        border: 1px solid #fff;
        input {
            height: 100%;
            width: 100%;
            background: none;
            color: #fff;
            padding: 0 0 0 20px;
        }
        input::placeholder {
            color: #fff;
            font-size: 16px;
        }
        button {
            width: 60px;
            height: 50px;
            background-color: #fff;
            img {
                height: 20px;
                width: 20px;
            }
        }
    }
    @media (max-width: 767px) {
        &__form {
            width: 100%;
        }
    }
}
