$max_container: 1100px;

$font_Merriweather: 'Merriweather', serif;

$font_Satisfy: 'Satisfy';

.footer {
    background-color: #080808;
    height: 418px;
    margin-top: 170px;
    .footer_items {
        height: 239px;
        padding-top: 80px;
        .footer_logo {
            width: 397px;
            height: 110px;
            margin: 0 auto;
            padding-bottom: 50px;
        }
        .footer_nav {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 600px;
            height: 26px;
            li {
                a {
                    text-decoration: none;
                    font-size: 13px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-family: 'Open Sans', sans-serif;
                }
                a:hover {
                    color: #cecece;
                    transition: color 0.2s ease-in-out;
                }
            }
        }

        .footer_widgets {
            display: flex;
            justify-content: space-between;
            width: 133px;
            height: 36px;
            margin: 35px auto;
            li {
                a {
                    img {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
    }
    .footer_text {
        color: #cecece;
        font-family: $font_Merriweather;
        font-size: 13px;
        width: 260px;
        margin: 65px auto;
        text-align: center;
    }
}
