$max_container: 1100px;

$font_Merriweather: 'Merriweather', serif;

$font_Satisfy: 'Satisfy';

.purchases {
    width: 733px;
    height: 375px;
    .purchases_title {
        margin-bottom: 47px;
        color: #080808;
        font-family: $font_Merriweather;
        font-size: 40px;
    }
    .purchases_items {
        display: flex;
        width: 733px;
        height: 375px;
        li {
            width: 191px;
            height: 319px;
            margin-right: 30px;
            text-align: center;
            img {
                width: 161px;
                height: 230px;
            }
            .book_title {
                margin-top: 29px;
                margin-bottom: 15px;
                a {
                    text-decoration: none;
                    color: #080808;
                    font-family: $font_Merriweather;
                    font-size: 17px;
                }
            }
            .book_price {
                color: #656565;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}
