.info {
    &__container {
    }

    &__body {
    }
    @media (min-width: 670px) {
        &__body {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -7px -12px;
        }
    }

    &__body > div:nth-child(2) {
        .info__item {
            background: url('/assets/info-2.jpg') no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .item-info__body {
            border: 1px solid #656565;
            margin: 8px auto;
            width: 96%;
        }
        .item-info__title {
            font-family: 'Merriweather';
            font-size: 24px;
            color: #fff;
            padding: 25px 0;
        }
    }

    &__column {
        padding: 0 7px;
        flex: 0 1 33.333%;
        margin: 0 0 12px 0;
    }

    @media (max-width: 992px) {
        &__column {
            flex: 0 1 50%;
        }
        &__column:last-child {
            flex: 1 1 100%;
        }
    }

    @media (max-width: 600px) {
        &__column {
            padding: 0;
        }
    }

    &__item {
        height: 100%;
        display: flex;
        background-color: #f7f7f7;
    }

    @media (max-width: 767px) {
        &__item {
            flex-direction: column;
        }
    }

    &__books {
    }
}

.item-info {
    &__icon {
        img {
            height: 117px;
        }
    }

    @media (max-width: 767px) {
        &__icon {
            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    @media (max-width: 767px) {
        &__body {
            margin: 50px auto;
        }
    }

    &__title {
        text-align: center;
        font-family: 'satisfy';
        font-size: 36px;
        color: #080808;
        line-height: 166%;
    }

    @media (max-width: 480px) {
        &__title {
            font-size: 36px;
        }
    }

    &__link {
        a {
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 500;
            color: #303030;
        }
        img {
            width: 17px;
            height: 17px;
            margin: -1px 0 0 0;
        }
    }
}

.published-books {
    background: url('/assets/info-2.jpg') no-repeat;
    padding: 0 30px;
    flex: 0 1 33.333%;
    &__body {
    }

    &__title {
    }
}
